.wrapperDocument {
  height: 825px;
  width: 1407px;
  background-color: white;
}
.wrapperRooms {
  padding: 19px;
}
.wrapperRoom {
  height: 80px;
  width: 300px;
  // background-color: yellow;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper4Room {
  display: flex;
  justify-content: space-around;
}
.textRooms {
  font-size: 25px;
  margin-right: 60px;
}
.imageRoom {
  height: 50px;
  width: 50px;
}
