.textInput {
    display: inline-block;
    padding-left: 130px;
}
.wrapper {
    justify-content: space-around;
    align-items: center;
}
.imageSearch {
    position: absolute;
    left: 1350px;
    top: 55px;
}
