.wrapperAddFolder {
    background-color: white;
    overflow-y: hidden;
    display: flex;

    .wrapperLeft {
        height: 100%;
        width: 50%;
        background-image: url("../../../../public/image/bgadd.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 50%;
    }
    .wrapperRight {
        height: 100%;
        width: 50%;

        .wrapperHeader {
            height: 12%;
            display: flex;
            justify-content: space-between;
            h2 {
                font-family: "cochin";
                font-size: 45px;
                color: gray;
                border: none;
                margin: 0;
                margin-left: 25%;
            }
            button {
                background-color: #dbdada;
                border: none;
                cursor: pointer;
                width: 6%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position-y: center;
                background-image: url("../../../../public/image/close.png");
                &:hover {
                    background-color: rgb(255, 38, 38);
                    transition: 0.3s;
                }
            }
        }
        .wrapperMain {
            .WrapperOneForm {
                display: block;
                height: 100%;
                width: 100%;
                background-color: white;
                .WrapperDivName {
                    padding-top: 5%;

                    label {
                        margin: 7px;
                        font-size: 30px;
                        font-family: "cochin";
                        padding-bottom: 5px;
                        color: rgb(59, 59, 59);
                        margin-left: 10%;
                    }
                }
                .WrapperFormWrapperCheck {
                    display: flex;
                    padding-left: 10%;
                    .formTextInput {
                        font-size: 30px;
                        height: 50px;
                        width: 70%;
                        border-radius: 5px;
                    }
                    .wrapperCheck {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
    }
}
