.wrapperForm {
    height: 100%;
    width: 100%;
    background-color: beige;
}
.wrapperClose {
    padding-left: 90%;
}
.wrapperMain {
    justify-content: center;
    display: flex;
}
.wrapperMainAdd {
    justify-content: center;
   
}

.formTextInput {
    margin-left: 15px;
    height: 30px;
    width: 400px;
    border-radius: 15px;
}
.wrapperMain2 {
    justify-content: center;
    display: flex;
}
.wrapperBtn {
    height: 50px;
    width: 250px;
    border: 2px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
.WrapperOneForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.WrapperDivName{
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WrapperCheck{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.WrapperFormWrapperCheck{
    display: flex;
    justify-content: center;
    align-items: center;
}
.WrapperOneFormSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.wrapperBtn{
    height: 50px;
    width: 150px;
    border: 2px solid black;
}
.wrapperCheck{
    height: 30px;
    width: 30px;
}