.wrapperForm {
    height: 100%;
    width: 100%;
    background-color: beige;
}
.wrapperClose {
    padding-left: 90%;
}
.wrapperMain {
    justify-content: center;
    display: flex;
}
.formText {
    height: 50px;
    width: 400px;
    border-radius: 15px;
}
.wrapperMain2 {
    justify-content: center;
    display: flex;
}
.wrapperBtn {
    height: 50px;
    width: 250px;
    border: 2px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
